{% extends "MrSiteBundle::layout.html.twig" %}

{% set body_class = "blog" %}

{% block sky %}
    <h1>Le blog</h1>
    <h2>
        Alors, quoi de neuf docteur ?
    </h2>
{% endblock %}

{% set rand = "ux#{random()}" %}

{% block main %}
    <div id="{{ rand }}" class="row">
        <button data-bind="click: addPost"><i></i>Nouvel article</button>
        <ul class="no-bullet" data-bind="foreach : { data : posts }">
            <article class="post">
                <header class="row">
                    <div class="columns medium-2 text-center date">
                        <div class="day" data-bind="text: moment(created_at()).format('D')"></div>
                        <div class="month" data-bind="text: moment(created_at()).format('MMM')"></div>
                    </div>
                    <div class="columns medium-10">
                        <a data-bind="attr : { 'href' : '{{ path("blog_post", {"id" : "+id+", "slug" : "+slug+"}) }}'.replace('+id+', id()).replace('+slug+', slug()) }">
                            <h2 data-bind="text: title"></h2>
                        </a>
                    </div>
                </header>
                <div class="row body">
                    <div class="columns medium-2 text-center thumb">
                        <img data-bind="attr : { 'src' : '{{ path("ressource", { "id" : "+id+" }) }}'.replace('+id+', image.id()) }" >
                    </div>
                    <div class="columns medium-10" data-bind="text: summary"></div>
                </div>
            </article>
        </ul>
    </div>

    <div id="reveal"></div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/mrsite/js/knockoutjs/knockout.js') }}"></script>
    <script src="{{ asset('bundles/mrsite/js/knockoutjs/knockout.mapping.js') }}"></script>

    <script>
        (function(){
            window["{{ rand }}"] = function(){
                var self = this;
                self.posts = ko.mapping.fromJS({{ posts|serialize('json')|raw }});

                self.addPost = function() {
                    $.post("{{ path("blog_post_new") }}", [], function(post){
                       self.posts.unshift(ko.mapping.fromJS(post));
                    }, 'json');
                }
            };

            ko.applyBindings(new window["{{ rand }}"](), $("{{ rand }}").dom);
        })();
    </script>
{% endblock %}