{% extends "MrSiteBundle::layout.html.twig" %}

{% macro project(year, name, job, details) %}
    <span class="mark icon-record-plain"></span>
    <div class="content">
        <h5 class="title">
            <span class="year"> {{ year|raw }} </span>
            {{ name|raw }}
        </h5>

        <div>
            {{ job|raw }}
        </div>
        <div>
            {{ details|raw }}
        </div>
    </div>
    <div class="clearfix"></div>
{% endmacro %}

{% import _self as macros %}

{% block main %}
    <section class="row">
        <h1>A propos de Moi</h1>

        <blockquote>{{ me.summary }}<cite>{{ me.firstName }} {{ me.lastName }}</cite></blockquote>
    </section>

    <section class="experiences">
        <div class="row">
            <h2>Parcours.
                <small>Ce que j'ai fait dans ma vie.</small>
            </h2>

            <ul class="no-bullet timeline">
                <li class="future">
                    {{ macros.project("20<b>??</b>", "Pourquoi pas vous ?", "(Haute-)Savoie", "") }}
                </li>
                {% for project in me.projects %}
                    <li class="job">
                        {{ macros.project(project.end|date("Y"), project.name, "#{project.contract} - #{project.job}", project.details) }}
                    </li>
                {% endfor %}

                {% for education in me.educations %}
                    <li class="school">
                        {{ macros.project(education.date|date("Y"), education.name, education.place, "") }}
                    </li>
                {% endfor %}
                <li class="others">
                    {{ macros.project("19<b>86</b>", " Naissance d'un être exceptionnel", "Dijon", "") }}
                </li>
            </ul>
        </div>
    </section>

    <section class="skills">
        <div class="row">
            <h2>Compétences.
                <small>Ce qui me permet de créer de magnifiques applications et sites web.</small>
            </h2>


            {% for skill_category in skills %}
                <div class="skill row">
                    <h3 class="columns small-12">{{ skill_category._id.type }}</h3>
                </div>
                {% set skills = skill_category.value.skills is defined ? skill_category.value.skills : [skill_category.value] %}

                {% for skill in skills %}
                    <div class="skill row">
                        <div class="columns small-9">
                            <div class="symbol">
                                <i class="icon icon-{{ skill.icon }}"></i>
                            </div>
                            <div class="progress small">
                                <span class="meter minify" style="width: {{ skill.rating/5*100 }}%">
                                    {{ skill.name }}
                                </span>
                            </div>
                        </div>
                        <div class="columns small-3">
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </section>

    <section class="hobbies">
        <div class="row">
            <h2>Centres d'intérêts.
                <small>En dehors du travail, là où j'aime le plus dépenser mon temps.</small>
            </h2>
            <div class="row">
                {% for hobby in me.hobbies %}
                    <div class="hobby large-{{ (12 / me.hobbies|length)|upper }} columns">
                        <i class="icon icon-{{ hobby.icon }}"></i>

                        <h3>{{ hobby.name }}</h3>

                        <div>{{ hobby.details }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        console.log($(".meter"));
        $(".meter").each(function () {
            $(this).one("inview", function (event, isInView, visiblePartX, visiblePartY) {
                $(this).removeClass("minify");
            });
        });
    </script>
{% endblock %}